@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.scrollCard {
    display: block;
    height: 415px;
    margin: auto auto 30px auto;
    position: relative;
    width: 100%;
}

.iconFleche {
    position: absolute;
    width: 45px;
    z-index: 1;
}
.iconFleche:hover {
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
}

.iconFleche-gauche {
    margin-left: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}
.iconFleche-droite {
    margin-right: 25px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-img {
    display: none;
}
.scroll-img.actif {
    display: block;
}

.ima {
    border-radius: 15px;
    height: 415px;
    object-fit: cover;
    width: 100%
}

.counterImage{
    /*color: aliceblue;*/
    color: white;
    position: relative;
    top: -100px;
    padding-left: 50%;
}

@media screen and (max-width: 500px) {
    .scrollCard {
        height: 255px;
        margin: auto auto 15px auto;
    }

    .iconFleche {
        width: 15px;
    }
    
    .iconFleche-gauche {
        margin-left: 5px;
    }
    .iconFleche-droite {
        margin-right: 5px;
    }

    .ima {
        height: 255px;
    }
}