.scrollCard {
    display: block;
    height: 415px;
    margin: auto auto 30px auto;
    position: relative;
    width: 100%;
}

.iconFleche {
    position: absolute;
    width: 45px;
    z-index: 1;
}
.iconFleche:hover {
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
}

.iconFleche-gauche {
    margin-left: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}
.iconFleche-droite {
    margin-right: 25px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-img {
    border-radius: 15px;
    height: 415px;
    object-fit: cover;
    display: none;
    width: 100%
}
.scroll-img.actif {
    display: block;
}